{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<br><nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" 
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
        <a href="{% url 'lista' %}" class="btn btn-primary btn-sm">Lista de Jogos</a>
        <h5 class="text-white">Logout <a href="{% url 'logout' %}" 
        class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja sair?')">Sair</a></h5>
    {% else %}
      <a href="{% url 'cadastro' %}" class="btn btn-primary btn-sm" title="Cadastre-se">Cadastre-se</a>
      <a href="{% url 'login' %}" class="btn btn-primary btn-sm" title="Login">Login</a> 
   {% endif %}

    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            {% if user.is_authenticated %}
                <li class="nav-link"><b>Olá {{ user.username }}</b></li>
            {% else %}
            {% endif %}
              </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Dio30" target="_blank">GitHub</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/dione-padilha-a99864234/" target="_blank">LinkedIn</a>
        </li>
      </ul>
    </div>
  </nav>
<br>
  <center><u><h1>Bem Vindo</h1></u></center>
  {% if user.is_authenticated %}
  <br><br><u><center><font size=+1><b><p>Para saber meu GitHub ou LinkedIn clique no icone acima.</p></center></u></b></font>
  
  {% else %}
  <br><b><font size=+1>Aqui voce pode listar, inserir, atualizar e deletar jogos a sua vontade. Entre em seu cadastro clicando em 
  login ou cadastre-se para ter acesso aos jogos ou para saber meu GitHub ou LinkedIn clique no icone acima.</b></font>
  
  {% endif %}

{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
          <br>
            <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
        </div>
    </footer>

{% endblock %}