{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block main %}

{% include 'mensagens.html' %}

<div class="row">
    <div class="col-sm">
        {% if user.is_authenticated %}
            <br><font size="5"><a href="{% url 'lista' %}" class="btn btn-primary">Para ter acesso a sua lista</a></font>
        {% else %}
        {% endif %}
    </div>

    <div class="col-sm">
        <center><h1>Bem Vindo</h1></center>
        {% if user.is_authenticated %}
        {% else %}
        <br><b><font size=+1>Aqui voce pode listar, inserir, atualizar e deletar jogos a sua vontade. Entre em seu cadastro clicando em 
        <a href="{% url 'login' %}" class="btn btn-primary" title="Login">Login</a>
        ou <a href="{% url 'cadastro' %}" class="btn btn-primary" title="Cadastre-se">Cadastre-se</a> para ter acesso aos jogos.</b></font>
        {% endif %}
    </div>

    <div class="col-sm">
        {% if user.is_authenticated %}
            <br>Olá {{ user.username }}
            <a href="{% url 'logout' %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja sair?')">Sair</a>
        {% else %}
        {% endif %}
    </div>
</div>

<br>

    {% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <center><span class="text">Desenvolvido por Dione Rafael Padilha</span></center>
        </div>
    </footer>

{% endblock %}